<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<!-- Define properties -->
	<property scope="context" name="LOG_PATH" value="logs/${artifactId}/${artifactId}.log" />

	<!-- Console -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{uuid}] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- File -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${LOG_PATH}</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
	      <!-- rollover daily -->
	      <fileNamePattern>${LOG_PATH}.log-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
	      <maxFileSize>10MB</maxFileSize>    
	      <maxHistory>3</maxHistory>
	      <totalSizeCap>30MB</totalSizeCap>
	      <cleanHistoryOnStart>true</cleanHistoryOnStart>
	    </rollingPolicy>
	    <encoder>
	        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
	    </encoder>
	</appender>
	
	<logger name="${package}" level="INFO" />
	<logger name="org.springframework" level="INFO" />
	<logger name="io.swagger" level="ERROR" />

	<root level="ERROR">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>