[Unit]
Description=${artifactId}

[Service]
WorkingDirectory=/home/ubuntu/${artifactId}
#if (${javaVersion} == '1.8')
ExecStart=java -Djava.security.egd=file:/dev/./urandom -jar -XX:+UseG1GC -Xmx512m -Xms32m -XX:MaxHeapFreeRatio=70 -XX:+ExitOnOutOfMemoryError ${artifactId}.jar
#end
#if (${javaVersion} != '1.8')
ExecStart=java -Djava.security.egd=file:/dev/./urandom -jar -Xmx512m -Xms32m -XX:MaxHeapFreeRatio=70 -XX:+ExitOnOutOfMemoryError ${artifactId}.jar
#end
User=ubuntu
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
