<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<!-- Console -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{uuid}] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="${package}" level="DEBUG" />
	<logger name="org.springframework" level="INFO" />
	<logger name="io.swagger" level="ERROR" />

	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>